<?xml version="1.0" encoding="utf-8" ?>

<pageCache
	enable="true"
	readOnly="true"
	typePrefix="mm"
	refreshKey="__refresh__"
	errorLogPath="E:\PageCache\ErrorLog\"
	accessLogPath="E:\PageCache\AccessLog\"
	netReceiveTimeout="10"
	netSendTimeout="3"
	headersFilters="X-"
  storeBufferSize="1000">

  <expires>
    <expire code="*" seconds="1800" />
    <expire code="400-599" seconds="0" />
    <expire code="200" seconds="3600" />
  </expires>

  <stores>
    <!--<store name="db1" weight="50" connectionString="Server=localhost;Database=pagecache;Uid=root;Pwd=123456;" assemblyName="PageCache.Store.MySql, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a91d1f4aebf531e6" fullTypeName="PageCache.Store.MySql.MySqlStore" />-->
	
	  <store name="db2" weight="100" connectionString="H:\PageCache" assemblyName="PageCache.Store.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a91d1f4aebf531e6" fullTypeName="PageCache.Store.SQLite.SQLiteStore" />


  </stores>

  <hosts>
    <host name="default" domain="localhost" scheme="http">
      <address name="local" weight="20" ip="127.0.0.1" port="80" />
      <address name="s1" weight="20" ip="127.0.0.1" port="80" />
      <address name="s2" weight="20" ip="127.0.0.1" port="80" />
    </host>
  </hosts>

  
  <memoryRule clearSeconds="5" removeSeconds="5" queueCount="3" capacity="256" />
  
  <rules>
    <rule name="test" match="test(\d+)" action="/default.aspx" host="default" cacheSeconds="600">
      <params>
        <param name="id" type="GET" value="$1" />
        <param name="idpost" type="POST" value="$1" />
        <param name="idheader"  type="HEADER" value="$1" />
        <param name="User-Agent" type="HEADER" pattern="(mac|android)" ignoreCase="true" />
      </params>
    </rule>

 
  </rules>
</pageCache>