<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <appSettings>


    <!--
    后期加入远程配置文件
    
    <add key="PageCache:Config" value="http://config.xxx.com/pageCache.xml" />
    -->
    
    <add key="PageCache:Config" value="PageCache.Config" />

  </appSettings>



  <system.web>
  
  <!--
  IIS6 下使用
	<httpModules> 
		<add name="pageCacheModule" type="PageCache.CacheModule"/> 
	</httpModules> 
  -->
  
    <compilation debug="true" targetFramework="4.0" />
  </system.web>


  
  <system.webServer>
    <modules>
      <add name="pageCacheModule" type="PageCache.CacheModule" />
    </modules>
    
  </system.webServer>
</configuration>
